main {
  min-height: 80vh;
}

footer {
  background-color: #55595c;
  color: white;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.form-margin {
  margin-top: 10px;
}

.productStyle {
  border: 5px solid;
  padding: 50px;
}

.imgStyle {
  height: 150px;
  width: 150px;
}

.cardReviewStyle {
  width: 200px;
}
